/* FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
.wrap {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

/*** MENU (NAV) ***/
.nav {
  position: relative;
  width: 220px;
  box-shadow: 0 0 16px 0 rgba($color: #000000, $alpha: 0.5);
  background-color: #3f65e0;
  z-index: 1;

  .bg {
    background-color: #3f65e0;
    height: 100%;
  }
  .profile {
    width: 100%;
    margin: 47px 0 75px 0;

    .image {
      width: 100px;
      height: 100px;
      margin: 0 12px 12px 58px;
      border-radius: 20px;
      background: #fff;
    }

    .name {
      margin-bottom: 25px;
      font-family: 'Lato';
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      color: #fff;
    }

    .iconBox {
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        width: 32px;
        height: 32px;
        margin-left: 12px;
        border-radius: 4px;
        background: #fff;

        &:first-child {
          margin: 0;
        }
      }
    }
  }

  .listBox {
    padding-bottom: 52px;
    background: #3f65e0;
    .title {
      position: relative;
      width: 100%;
      height: 40px;
      padding: 0 32px 0 32px;
      font-family: 'Lato';
      font-size: 20px;
      font-weight: bold;
      text-align: left;
      box-sizing: border-box;
      color: #fff;
      background: #3f65e0;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 220px;
        height: 2px;
        background: #2c479d;
      }
    }

    .desc {
      position: relative;
      display: block;
      width: 100%;
      height: 40px;
      padding-left: 32px;
      font-family: 'Lato';
      font-size: 14px;
      font-weight: normal;
      text-align: left;
      color: #fff;
      background: #3f65e0;
      transition: all 0.3s;
      outline: none;
      &:focus {
        background: rgba($color: #000000, $alpha: 0.3);
      }
      &:after {
        content: '';
        position: absolute;
        bottom: 15px;
        right: 30px;
        width: 8px;
        height: 8px;
        border: 1px solid #fff;
        border-left: 0;
        border-top: 0;
        transform: rotate(-45deg);
        transition: all 0.3s;
      }
      &:hover {
        font-weight: bold;
        background: #2c479d;
        transition: all 0.3s;

        &:after {
          content: '';
          position: absolute;
          bottom: 15px;
          right: 30px;
          width: 10px;
          height: 10px;
          border: 2px solid #fff;
          border-left: 0;
          border-top: 0;
          transform: rotate(-45deg);
        }
      }
    }

    .desc.last {
      &:after {
        display: none;
      }
    }
    .desc.active {
      &:after {
        transform: rotate(45deg);
        transition: all 0.3s;
      }
    }
  }
}

/* MENU-SUB */
.sub.open {
  display: block;
}

.sub {
  display: none;
}

/* MENU-THIRD */
.third.open {
  display: block;
}
.third {
  display: none;
}

/* CONTAINER */
.container {
  position: relative;
  flex: 1;
  height: 100%;
}
/*** CONTENTS ***/
.content {
  height: 100%;
  min-height: 785px;
}

/*** HEADER ***/
.header {
  @include centerSB;
  height: 80px;
  background: #2c479d;

  .searchBox {
    position: relative;

    .search {
      width: 600px;
      height: 48px;
      padding: 0 10px 0 45px;
      font-family: 'Lato';
      border-radius: 8px;
      font-size: 18px;
      font-weight: bold;

      color: #2c479d;
      background: #fff;
    }
  }

  .optionBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 215px;
    padding-right: 30px;

    .name {
      width: 100px;
      height: 40px;
      font-family: 'Lato';
      font-size: 16px;
      font-weight: normal;
      border-radius: 8px;
      color: #1e1e1e;
      background: #fff;
    }
  }
}

/*** TITLE (admin) ***/
.admin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 80px;
  font-family: 'Lato';
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #2c479d;
}

/** COMMON **/
.contTitle {
  margin: 16px 36px;
  font-family: 'Lato';
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #1e1e1e;
}
.line {
  @include line;
}

/* SELECT */
.select {
  position: relative;
  width: 100%;
  padding-bottom: 16px;

  .selectBox {
    padding: 16px 34px 0 34px;
  }
  .sBox {
    width: 95px;
    height: 35px;
    border-radius: 8px;
    padding: 0 10px;
    font-family: 'Lato';
    font-size: 16px;
    text-align: center;
    color: #1e1e1e;
    background: #fff;
    //background-image: url('./image/arrow.png');
    background-size: 13px 13px;
    background-repeat: no-repeat;
    background-position: 73px 10px;
  }

  .year {
    margin: 0 40px 0 0;
  }
  .month {
    margin-right: 16px;
  }
  .day {
    margin-left: 16px;
  }
  .line {
    @include line;
  }
}

/* USER KOCHT */
.userKocht {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 16px;

  .userGroup {
    @include centerSB;
    align-items: flex-start;
    margin: 0 36px 0 36px;

    .userBox {
      display: flex;
      flex: 1 1 50%;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      height: 100%;

      .user {
        @include uerRec;
        height: 100%;
        min-height: 158px;
        margin: 0px 10px 10px 0px;
        color: #fff;

        ul {
          height: 100%;
          font-family: 'Lato';

          .userTitle {
            @include center;
            width: 100%;
            height: 38px;
            font-size: 14px;
            font-weight: bold;
            border-radius: 8px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            background: rgba($color: #000000, $alpha: 0.3);
          }
          li {
            @include center;
            padding: 5px;
            font-size: 14px;
            text-align: center;
            word-break: keep-all;
          }
        }
        .plus {
          position: relative;
          top: 25px;
          width: 45px;
          height: 45px;
          border: 3px solid #fff;
          border-radius: 50%;
          cursor: pointer;
          transition: all 0.3s;

          &:after {
            @include bar;
            transform: translate(-50%, -50%);
          }
          &:before {
            @include bar;
            transform: translate(-50%, -50%) rotate(90deg);
          }

          &:hover {
            transform: rotate(180deg);
            transition: all 0.3s;
          }
        }
      }
    }

    .vsKocht {
      @include centerSB;
      flex: 0 0 50%;
      color: #1e1e1e;

      .vsDrag {
        @include center;
        width: 100%;
        height: 156px;
        text-align: center;
        border-radius: 8px;
        background-color: #fff;

        p {
          padding: 0 5px 0 5px;
          font-family: 'Lato';
          font-size: 14px;
          font-weight: normal;
          text-align: center;
        }
      }
      .vs {
        align-items: center;
        width: 47px;
        text-align: center;
      }
    }
  }

  .userRec1 {
    background: #3f65e0;
  }
  .userRec2 {
    background: #3f9bcf;
  }
  .userRec3 {
    background: #3fbbb8;
  }
  .userRec4 {
    background: #21c78c;
  }
  .userRec5 {
    background: #6acc1d;
  }
  .user.userRec5 {
    margin: 0;
  }
}

/* GROUP */
.group {
  position: relative;
  width: 100%;
  padding-bottom: 16px;
}

/* SERVICE LIST */
.serviceList {
  position: relative;
  width: 100%;
  padding-bottom: 16px;
}

/*** BASIC - COMMON ***/
.basic {
  width: 100%;
}
.basicBox {
  @include centerSB;
  font-family: 'Lato';
  margin: 16px 36px;

  .basicTitle {
    @include center;
    height: 48px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }

  .number {
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: keep-all;
    color: #1e1e1e;
  }
}
.dauRec {
  border: 1px solid #3f65e0;
}
.arpuRec {
  border: 1px solid #3f9bcf;
}
.salesRec {
  border: 1px solid #3fbbb8;
}
/* DAU */
.dau {
  @include basicRec;

  .listDau {
    position: relative;
    width: 100%;
    height: 94px;
    padding: 15px 30px;
    box-sizing: border-box;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: #3f65e0;
    }

    .listTitle {
      font-family: 'Lato';
      font-size: 16px;
      color: #3f65e0;
    }
  }

  .listDau.two {
    @include centerSB;
    height: 98px;
    &:after {
      display: none;
    }

    .first {
      position: relative;
      width: 50%;
    }
    .line {
      position: absolute;
      top: -19px;
      left: 100%;
      width: 1px;
      height: 98px;
      background: #3f65e0;
    }
    .last {
      width: 50%;
      padding-left: 25px;
    }
  }
}
/* ARPU */
.arpu {
  @include basicRec;

  .listArpu {
    position: relative;
    width: 100%;
    height: 94px;
    padding: 15px 30px;
    box-sizing: border-box;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: #3f9bcf;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
  .listTitle {
    font-family: 'Lato';
    font-size: 16px;
    color: #3f65e0;
  }
  li {
    width: 100%;
    font-size: 32px;
    overflow: hidden;
  }
}
/* SALSE */
.sales {
  @include basicRec;

  .listSales {
    position: relative;
    width: 100%;
    height: 94px;
    padding: 15px 30px;
    box-sizing: border-box;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: #3fbbb8;
    }

    .listTitle {
      font-family: 'Lato';
      font-size: 16px;
      color: #3fbbb8;
    }
  }

  .listSales.two {
    @include centerSB;
    height: 98px;
    &:after {
      display: none;
    }

    .first {
      position: relative;
      width: 70%;
      padding-right: 10px;
    }
    .line {
      position: absolute;
      top: -17px;
      left: 100%;
      width: 1px;
      height: 98px;
      background: #3fbbb8;
    }
    .last {
      width: 30%;
      padding-left: 15px;
    }
  }
}

/*** BTN BOTTOM ***/
.btnBottom {
  @include center;
  position: relative;
  height: 100px;
  margin: 0 36px;
}
/*** PAGING ***/
.paging {
  margin: 0 auto;
  @include center;

  .btnPN {
    width: 45px;
    height: 25px;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #1e1e1e;
    outline: none;
  }
  .pageNumber {
    padding: 0 40px 0 40px;

    .pNum {
      height: 25px;
      padding: 0 10px 0 10px;
      font-family: 'Lato';
      font-size: 16px;
      text-align: center;
      color: #1e1e1e;
      outline: none;
    }
    .pNum.active {
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 50%;
      color: #fff;
      background: #000;
    }
  }
}

/*** WORD ***/
.wordBox {
  @include centerSB;
  position: absolute;
  right: 0px;

  .word {
    width: 80px;
    height: 40px;
    border-radius: 6px;
    margin-right: 16px;
    font-family: 'Lato';
    font-size: 14px;
    text-align: center;
    color: #1e1e1e;
    background: #fff;

    &:last-child {
      margin: 0;
    }
  }
}

/*** FOOTER ***/
